
<body ng-controller="TheMix as mygig">

  <form ng-submit="mygig.getMix(mygig.artist1,
                                mygig.artist2,
                                mygig.artist3,
                                mygig.artist4,
                                mygig.artist5,
                                mygig.song1,
                                mygig.song2,
                                mygig.song3,
                                mygig.song4,
                                mygig.song5,
                                mygig.genre1,
                                mygig.genre2,
                                mygig.genre3,
                                mygig.genre4,
                                mygig.genre5,
                                mygig.nSongs
                                )" class="form-inline">

    <!-- About Section -->
    <div ng-include="'/html/instruct.html'"></div>
    <br>
    <h4> Choose By Artist: </h4>
    <br>
    <div class="form-group">

          <input ng-model="mygig.artist1" class="form-control" type="text" placeholder="Beyonce">
          <input ng-model="mygig.artist2" class="form-control" type="text" placeholder="Mozart">
          <input ng-model="mygig.artist3" class="form-control" type="text" placeholder="Metallica">
          <input ng-model="mygig.artist4" class="form-control" type="text" placeholder="Foo Fighters">
          <input ng-model="mygig.artist5" class="form-control" type="text" placeholder="John Lennon">
    </div>
    <br>
    <br>
    <h4> Choose By Song Title: </h4>
    <br>
    <div class="form-group">

          <input ng-model="mygig.song1" class="form-control" type="text" placeholder="Smile">
          <input ng-model="mygig.song2" class="form-control" type="text" placeholder="Can't Touch This">
          <input ng-model="mygig.song3" class="form-control" type="text" placeholder="Firework">
          <input ng-model="mygig.song4" class="form-control" type="text" placeholder="One">
          <input ng-model="mygig.song5" class="form-control" type="text" placeholder="Make It Last Forever">
    </div>
    <br>
    <br>
    <h4> Choose By Genre: </h4>
    <br>
    <div class="form-group">

          <input ng-model="mygig.genre1" class="form-control" type="text" placeholder = "Rock">
          <input ng-model="mygig.genre2" class="form-control" type="text" placeholder = "Country">
          <input ng-model="mygig.genre3" class="form-control" type="text" placeholder = "Jazz">
          <input ng-model="mygig.genre4" class="form-control" type="text" placeholder = "R&B">
          <input ng-model="mygig.genre5" class="form-control" type="text" placeholder = "Neo-Soul">
    </div>
    <br>
    <br>
    <h4> How Many Songs In Your Mix? (Up to 100 Songs): </h4>
    <br>
    <div class="form-group">
          <input ng-model="mygig.nSongs" class="form-control" type="text" placeholder = "# of Songs (<=100)">
    </div>
    <br>
    <br>
    <button class="btn btn-primary btn-lg">Get Mix</button>
  </form>
</body>
