
<body ng-controller="TheMix as mygig">

  <form ng-submit="mygig.getMix(mygig.artist1,
                                mygig.artist2,
                                mygig.artist3,
                                mygig.artist4,
                                mygig.artist5,
                                mygig.song1,
                                mygig.song2,
                                mygig.song3,
                                mygig.song4,
                                mygig.song5,
                                mygig.genre1,
                                mygig.genre2,
                                mygig.genre3,
                                mygig.genre4,
                                mygig.genre5,
                                mygig.nSongs
                                )" class="form-inline">

    <!-- About Section -->
    <div ng-include="'/html/instruct.html'"></div>
    <br>
    <h4> Choose By Artist: </h4>
    <br>
    <div class="form-group">

          <input ng-model="mygig.artist1" class="form-control" type="text" placeholder="Artist 1">
          <input ng-model="mygig.artist2" class="form-control" type="text" placeholder="Artist 2">
          <input ng-model="mygig.artist3" class="form-control" type="text" placeholder="Artist 3">
          <input ng-model="mygig.artist4" class="form-control" type="text" placeholder="Artist 4">
          <input ng-model="mygig.artist5" class="form-control" type="text" placeholder="Artist 5">
    </div>
    <br>
    <br>
    <h4> Choose By Song Title: </h4>
    <br>
    <div class="form-group">

          <input ng-model="mygig.song1" class="form-control" type="text" placeholder="Song 1">
          <input ng-model="mygig.song2" class="form-control" type="text" placeholder="Song 2">
          <input ng-model="mygig.song3" class="form-control" type="text" placeholder="Song 3">
          <input ng-model="mygig.song4" class="form-control" type="text" placeholder="Song 4">
          <input ng-model="mygig.song5" class="form-control" type="text" placeholder="Song 5">
    </div>
    <br>
    <br>
    <h4> Choose By Genre: </h4>
    <br>
    <div class="form-group">

          <input ng-model="mygig.genre1" class="form-control" type="text" placeholder = "Genre 1">
          <input ng-model="mygig.genre2" class="form-control" type="text" placeholder = "Genre 2">
          <input ng-model="mygig.genre3" class="form-control" type="text" placeholder = "Genre 3">
          <input ng-model="mygig.genre4" class="form-control" type="text" placeholder = "Genre 4">
          <input ng-model="mygig.genre5" class="form-control" type="text" placeholder = "Genre 5">
    </div>
    <br>
    <br>
    <h4> How Many Songs In Your Mix? (Up to 100 Songs): </h4>
    <br>
    <div class="form-group">
          <input ng-model="mygig.nSongs" class="form-control" type="text" placeholder = "# of Songs (<=100)">
    </div>
    <br>
    <br>
    <button class="btn btn-primary btn-lg">Get Mix</button>
  </form>
  <!-- <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
         m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-90903171-1', 'auto');
      ga('send', 'pageview');

  </script> -->
</body>
