<form ng-submit="mymix.saveMix(mymix.namePlaylist)" class="form-inline">
  <br>
  <h4> Name Your Mix: </h4>
  <div class="form-group">
        <input ng-model="mymix.namePlaylist" class="form-control" type="text" placeholder="My Jams Mix 1">
  </div>
  <br>
  <h4>
  <br>
  <br>
  <button class="btn btn-primary btn-lg">Save Mix</button>

  <br>
  <br>
</form>

  <div>
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="MixList in mymix.Auth.user.playlists" | orderBy:'artists[0].name' ng-submit="mymix.FinalMix(artists)">
            <p>
              {{MixList.artists[0].name}}
            </p>
            <p>
               {{MixList.name}}
            </p>
            <p>
               <iframe ng-src="{{ mymix.$sce.trustAsResourceUrl('https://embed.spotify.com/?uri=' + MixList.uri + '&theme=white&view=coverart') }}" width="300" height="80" frameborder="0" allowtransparency="false"></iframe>
            </p>
        </li>
     </ul>
  </div>
